name: PR

on:
  pull_request:
    branches: [main, 4.x]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14, 16]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        cache: yarn
    - run: yarn install
    - run: yarn lint
    - run: yarn run test
      env:
        CI: true
